:root {
  --theme-primary:#001f60;
  --theme-secondary: #c35910;
  --primary-border: #364c74;
  --thumbnail-fallback: #1e3763;
  --newsFeed-hot: #c45910;
  --newsFeed-trending: #2e5596;
  --newsFeed-regular: #8eaadc;
  --disabled-text: #ccc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}